.card {
  padding: 10px;
  box-shadow: 0 0 7px 1px;
  align-items: center;
  justify-content: space-between;

  &:hover {
    box-shadow: 0 0 8px 4px;
    transform: scale(1.02);
    background: linear-gradient(0deg, #0055ff, transparent 18%);
  }

  &__description{
    height: 5rem;
    font-size: 12px;
    background-image: linear-gradient(0deg, transparent, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;

    &-cont {
      height: 10rem;
    }
  }

  &__name {
    padding: 15px 0 10px;
  }

  &__basket {
    &-btn {
      width: 100%;
      background: #6b8d25;
      border: 1px solid black;
      border-radius: 20px;
      cursor: pointer;
      padding: 4px 15px;
      height: 2rem;
      margin-top: 10px;
      &:hover{
        background: radial-gradient(#85b323 30%, #6b8d25 75%);
      }
    }

    &-img {
      width: 100%;
      height: 100%;
    }
  }
  &__cont {
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;
    & p{
      cursor: pointer;
    }
  }
}
