.details {
  margin-top: 10px;
  &__img {
    width: 100%;
    padding: 10%;
    &-cont{
      width: 40%;
      text-align: center;
    }
  }
  &__text{
    width: 60%;
    justify-content: space-between;
  }
  &__btn{
    font-size: 22px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    width: 35%;
    height: 5vw;
    background: #6b8d25;
    color: white;
    border-radius: 25px;
    margin-top: 10px;
    &-img{
      height: 100%;
    }
  }
  &__description{
    margin: 10px 0;
  }
}
