* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

p{
  cursor: default;
}

.flex {
  display: flex;
}

.column{
  flex-direction: column;
}
.align-i-center{
  align-items: center;
}
.space-between{
  justify-content: space-between;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.container{
  width: 95%;
  margin: 0 auto;
}
.section{
  background: linear-gradient(0deg, #e6ecf7,#9cb6f3, #e6ecf7);
  padding-bottom: 3%;
}