@media (max-width: 1100px) {
  .card {
    &__name {
      font-size: 16px;
    }

    &__price-text {
      font-size: 14px;
    }

    &__basket-btn {
      padding: 2px 12px;
    }
  }
  .details__btn {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .grid__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .details__btn {
    font-size: 16px;
  }
  .text__title {
    font-size: 22px;
  }
  .nav {
    flex-direction: column;
    top: 10%;
    left: 0;
    position: fixed;
    width: 95%;

    &__cont {
      width: 35%;
      flex-direction: column;
      transform: translateX(-100%);

      &.active {
        display: flex;
      }
    }
  }
  .burger {
    width: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1%;

    &.active {
      width: 5%;
    }

    &__line {
      display: block;
      width: 60%;
      height: 2px;
      background: white;
      margin-bottom: 7px;

      &:first-child {
        margin-top: 7px;
      }
    }
  }
}

@media (max-width: 700px) {

  .card {
    &__name {
      padding: 15px 0;
      font-size: 14px;
    }

    &__price-text {
      font-size: 12px;
    }

    &__basket-btn {
      padding: 1px 8px;
    }
  }
  p {
    font-size: 14px;
  }
  .message {
    font-size: 42px;
  }
  .link {
    font-size: 18px;
  }

}

@media (max-width: 600px) {
  .logo-text {
    font-size: 32px;
  }
  .grid {
    &__cards {
      grid-template-columns: repeat(4, 1fr);
    }

    &__details {
      gap: 5px;
      padding: 8px;
    }
  }
  .basket__title, .basket__price {
    font-size: 18px;
  }
  .details {
    &__img-cont {
      width: 40%;
    }

    &__img {
      width: 100%;
    }

    &__btn {
      font-size: 14px;
      width: 100%;
      height: 7vw;
    }
  }
  .message {
    font-size: 36px;
  }
  .link {
    font-size: 16px;
  }
  .sum {
    padding: 8px 15px;
  }
  .sum__title, .sum__price {
    font-size: 20px;
    font-weight: bold;
  }
  .header__img, .header__basket-btn {
    height: 5vh;
    margin: 8px 0;
    position: relative;
    cursor: pointer;
  }
  .card__description {
    font-size: 9px;
  }
  .nav {
    &__cont {
      width: 35%;
    }
  }
  .burger {
    width: 7%;
    font-size: 26px;
  }
}

@media (max-width: 500px) {
  .grid {
    &__cards {
      grid-template-columns: repeat(3, 1fr);
    }

    &__details {
      gap: 3px;
      padding: 6px;
    }
  }
  .card__basket-btn {
    padding: 2px 10px;
  }
  .details {
    &__main {
      flex-direction: column;
    }

    &__img-cont {
      text-align: center;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__img {
      width: 60%;
    }

    &__text {
      width: 100%;
    }

    &__btn {
      height: 10vw;
    }
  }
  .text__title {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }
  p {
    font-size: 12px;
  }
  .basket__title, .basket__price {
    font-size: 14px;
    margin-left: 5px;
  }
  .card__description {
    display: none;
  }
  .nav__cont {
    width: 50%;
  }
  .burger {
    width: 8%;
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .logo-text {
    font-size: 28px;
  }
  .header__img, .header__basket-btn {
    height: 4vh;
    margin: 7px 0;
    position: relative;
    cursor: pointer;
  }
  .message {
    font-size: 32px;
  }
  .link {
    font-size: 14px;
  }
  .grid {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }

    &__details {
      gap: 3px;
      padding: 4px;
    }
  }
  .details__btn {
    height: 12vw;
  }
  .card {
    &__price-text {
      font-size: 16px;
    }

    &__name {
      font-size: 18px;
    }
  }
  .text__title {
    font-size: 18px;
  }
  .burger {
    font-size: 18px;
  }
}
