.link {
  color: #ffffff;
  background: #282c34;
  width: 100%;
  padding: 5px 0;
  text-align: center;

  &:hover {
    background: linear-gradient(to top, #0015ff, #333a64);;
  }
}

.link:not(:last-child) {
  border-right: 2px solid #333a64;
}

.nav {
  &__cont {
    background: linear-gradient(to top, #0015ff, #333a64);
    padding: 3px;
    transition: transform 1s ease-in-out;
  }
}
.nav__cont.active{
  transform: translateX(0);
}

.burger {
  display: none;
  font-size: 30px;
  color: white;
  width: 5%;
  background: #282c34;
  border: 2px solid #333a64;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: transform 1s ease-in-out;
}